# Miscellaneous
*.class
*.log
*.pyc
*.swp
.DS_Store
.atom/
.build/
.buildlog/
.history
.svn/
.swiftpm/
migrate_working_dir/
__pycache__/
venv/
**/venv/
*.pyc

# IntelliJ related
*.iml
*.ipr
*.iws
.idea/

# The .vscode folder contains launch configuration and tasks you configure in
#.vscode/

# Flutter/Dart/Pub related
**/doc/api/
**/ios/Flutter/.last_build_id
.dart_tool/
**/frontend/.dart_tool/
.flutter-plugins-dependencies
**/frontend/.flutter-plugins-dependencies
.pub-cache/
.pub/
/build/
**/frontend/build/
/coverage/
**/frontend/coverage/

# Symbolication related
app.*.symbols

# Obfuscation related
app.*.map.json

# Android Studio will place build artifacts here
/android/app/debug
/android/app/profile
/android/app/release
**/frontend/android/app/debug
**/frontend/android/app/profile
**/frontend/android/app/release

